<div class="shadow-xl rounded-2xl bg-white px-4 py-4 border border-gray-200 speaker flex h-full bg-gradient-to-r from-teal-400 to-blue-500"
>
<div class="flex w-full text-center justify-between flex-col text-center">
    <div>
      <div class="img-wrap w-40 h-40 mb-4 mx-auto">
        <img
        class="bg-white w-full h-full mx-auto object-cover shadow-xl rounded-full"
        [src]="speaker?.img"
        [alt]="speaker?.name"
      />
      </div>
      <p class="font-bold text-xl mb-2 tracking-tighter">{{speaker?.name}}</p>
      <h5 class="text-blue-600 font-normal">{{speaker?.position}}</h5>
    </div>
 
 
  <div class="flex justify-between mt-4 pt-3 border-t">
    <a class="mx-2 font-semibold text-gray-600" href="#0">
     <img src="assets/img/icons/icons8-twitter.svg" class="icon-text" alt="twitter">
     Twitter
    </a>
    <a class="mx-2 font-semibold text-gray-600" href="#0">
      <img src="assets/img/icons/icons8-linkedin.svg" class="icon-text" alt="twitter">
        LinkedIn</a>
  </div>
</div>
</div>