<section class="tc th tg bg-circle">
  <div class="oq i_ uj pj">
    <div class="fe aw vg vm">
      <div class="o_ i_ lt aw">
        <h1 class="h1 text-gradient sm text-black" >
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h1>
        <p
          class="rz text-black"
        >
          No matter how many team members you have - our pricing is simple,
          transparent and adapts to the size of your company.
        </p>
      </div>
      <div>
        <div
          class="np nj ow il oe text-black"
          data-aos-delay="300"
        >
          <!-- <div class="fa np cd ix ul bg-gray-200 nn">
            <span class="fu ff ia fs" aria-hidden="true"
              ><span
                class="fu ff cp bg-white nn shadow cz hb hj hk translate-x-full"
                :class="value ? 'translate-x-0' : 'translate-x-full'"
              ></span> </span
            ><button
              class="fa nz r_ ro ul hb hj hk text-gray-500"
              :class="{'text-gray-500':!value}"
              @click.prevent="value = true"
              style="outline: none"
            >
              Bill Yearly <span class="lp">-20%</span>
            </button>
            <button
              class="fa nz r_ ro ul hb hj hk"
              :class="{'text-gray-500':value}"
              @click.prevent="value = false"
              style="outline: none"
            >
              Bill Monthly
            </button>
          </div> -->
        </div>
        <div class="ox vi gh i_ nv cw me gv gd nb">
          <div
            class="fa np ng rw uq at nn bg-white fx text-black"
            
            data-aos-delay="450"
          >
            <div class="sm">
              <div class="rq ru si" style="color:#804a00 ">Bronze</div>
              <div class="nd nx sa">
                <span class="ie ru"
                  >$</span
                >
                <span class="it ru"
                  >0</span
                >
                <span class="la aa"
                  >/month</span
                >
              </div>
              <div class="rq ll">
                For larger teams that need to create, and collaborate.
              </div>
            </div>
            <ul class="la ou rt">
              <li class="np nw sa">
                <svg
                  class="cn rc fj lp sc rn"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span>Unlimited viewers</span>
              </li>
              <li class="np nw sa">
                <svg
                  class="cn rc fj lp sc rn"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span>Up to 3 members</span>
              </li>
              <li class="np nw sa">
                <svg
                  class="cn rc fj lp sc rn"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span>Up to 2 projects</span>
              </li>
              <li class="np nw sa">
                <svg
                  class="cn rc fj lp sc rn"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span>Dedicated support</span>
              </li>
            </ul>
            <div class="nu tk ac sb">
              <a class="f lr tn tf cd" href="#0" style="outline: none"
                >Try this pack</a
              >
            </div>
          </div>
          <div
            class="fa np ng rw uq at nn te fx ns tz text-black"
            
            data-aos-delay="450"
          >
            <div class="fu fl fc sy uh oc z nr">
              <svg
                class="cr rh fj lr"
                viewBox="0 0 16 16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M15.145 5.05l-4.316-.627L8.898.513c-.338-.684-1.456-.684-1.794 0l-1.93 3.91-4.317.627a1.002 1.002 0 00-.554 1.707l3.124 3.044-.737 4.3a1 1 0 001.45 1.053L8 13.125l3.862 2.03c.728.381 1.59-.234 1.45-1.054l-.736-4.299L15.7 6.758a1.003 1.003 0 00-.555-1.708z"
                ></path>
              </svg>
            </div>
            <div class="sm">
              <div class="rq ru si" style="color:rgb(138, 138, 138)">Silver</div>
              <div class="nd nx sa">
                <span x-text="priceOutput.plan2[value][0]" class="ie ru"
                  >$</span
                >
                <span x-text="priceOutput.plan2[value][1]" class="it ru"
                  >34</span
                >
                <span x-text="priceOutput.plan2[value][2]" class="la aa"
                  >/month</span
                >
              </div>
              <div class="rq ll">
                For larger teams that need to create, and collaborate.
              </div>
            </div>
            <ul class="la ou rt">
              <li class="np nw sa">
                <svg
                  class="cn rc fj lp sc rn"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span>Unlimited viewers</span>
              </li>
              <li class="np nw sa">
                <svg
                  class="cn rc fj lp sc rn"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span>Up to 3 members</span>
              </li>
              <li class="np nw sa">
                <svg
                  class="cn rc fj lp sc rn"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span>Up to 2 projects</span>
              </li>
              <li class="np nw sa">
                <svg
                  class="cn rc fj lp sc rn"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span>Dedicated support</span>
              </li>
            </ul>
            <div class="nu tk ac sb">
              <a class="f lr tn tf cd" href="#0" style="outline: none"
                >Try this pack</a
              >
            </div>
          </div>
          <div
            class="fa np ng rw uq at nn bg-white fx text-black"
            
            data-aos-delay="450"
          >
            <div class="sm">
              <div class="rq ru si" style="color:rgb(255, 188, 44)">Gold</div>
              <div class="nd nx sa">
                <span x-text="priceOutput.plan3[value][0]" class="ie ru"
                  >$</span
                >
                <span x-text="priceOutput.plan3[value][1]" class="it ru"
                  >59</span
                >
                <span x-text="priceOutput.plan3[value][2]" class="la aa"
                  >/month</span
                >
              </div>
              <div class="rq ll">
                For larger teams that need to create, and collaborate.
              </div>
            </div>
            <ul class="la ou rt">
              <li class="np nw sa">
                <svg
                  class="cn rc fj lp sc rn"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span>Unlimited viewers</span>
              </li>
              <li class="np nw sa">
                <svg
                  class="cn rc fj lp sc rn"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span>Up to 3 members</span>
              </li>
              <li class="np nw sa">
                <svg
                  class="cn rc fj lp sc rn"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span>Up to 2 projects</span>
              </li>
              <li class="np nw sa">
                <svg
                  class="cn rc fj lp sc rn"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span>Dedicated support</span>
              </li>
            </ul>
            <div class="nu tk ac sb">
              <a class="f lr tn tf cd" href="#0" style="outline: none"
                >Try this pack</a
              >
            </div>
          </div>
          <div
            class="fa np ng rw uq at nn bg-white fx text-black"
            
            data-aos-delay="450"
          >
            <div class="sm">
              <div class="rq ru si text-gradient">Diamond</div>
              <div class="nd nx sa">
                <span x-text="priceOutput.plan4[value][0]" class="ie ru"
                  >$</span
                >
                <span x-text="priceOutput.plan4[value][1]" class="it ru"
                  >109</span
                >
                <span x-text="priceOutput.plan4[value][2]" class="la aa"
                  >/month</span
                >
              </div>
              <div class="rq ll">
                For larger teams that need to create, and collaborate.
              </div>
            </div>
            <ul class="la ou rt">
              <li class="np nw sa">
                <svg
                  class="cn rc fj lp sc rn"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span>Unlimited viewers</span>
              </li>
              <li class="np nw sa">
                <svg
                  class="cn rc fj lp sc rn"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span>Up to 3 members</span>
              </li>
              <li class="np nw sa">
                <svg
                  class="cn rc fj lp sc rn"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span>Up to 2 projects</span>
              </li>
              <li class="np nw sa">
                <svg
                  class="cn rc fj lp sc rn"
                  viewBox="0 0 12 12"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.28 2.28L3.989 8.575 1.695 6.28A1 1 0 00.28 7.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 2.28z"
                  ></path>
                </svg>
                <span>Dedicated support</span>
              </li>
            </ul>
            <div class="nu tk ac sb">
              <a class="f lr tn tf cd" href="#0" style="outline: none"
                >Try this pack</a
              >
            </div>
          </div>
        </div>
      </div>
    
     
    </div>
  </div>
</section>
