<section class="section page-header pb-80">
  <div class="container">
    <h1 class="h1 lg:text-center text-white mb-8">Contact Us</h1>
    <p class="font-medium lg:text-center text-gradient lg:mx-auto max-w-xl">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem
      vitae, sed dolorum, quo reiciendis, tempora dicta recusandae accusamus
      velit est asperiores aut porro veniam aspernatur.
    </p>
  </div>

  <img src="assets/img/contact-img.png" class="header-img" alt="" />
</section>

<section class="section bg-circle">
  <div class="container">
    <div
      class="bg-white mx-auto rounded-2xl shadow-xl py-12 px-16 md:px-8 -m-48 mb-20"
    >
      <div class="grid grid-cols-2 gap-24 lg:gap-8">
        <div class="aw lg:col-span-2">
          <div class="o_ i_ lt aw vd">
            <h2 class="h2 text-left lg:text-center">
              Have a question for us? <br />
              Contact us directly
            </h2>
          </div>
          <form class="ok i_">
            <div class="np ny se sm">
              <div class="cd vw uk sm d_">
                <label class="nc ll r_ ro si" for="first-name"
                  >First Name <span class="lh">*</span></label
                >
                <input
                  id="first-name"
                  class="n cd ll"
                  placeholder="Enter your first name"
                  required=""
                  style="outline: none"
                />
              </div>
              <div class="cd vw uk">
                <label class="nc ll r_ ro si" for="last-name"
                  >Last Name <span class="lh">*</span></label
                >
                <input
                  id="last-name"
                  class="n cd ll"
                  placeholder="Enter your last name"
                  required=""
                  style="outline: none"
                />
              </div>
            </div>
            <div class="np ny se sm">
              <div class="cd uk">
                <label class="nc ll r_ ro si" for="email"
                  >Email <span class="lh">*</span></label
                >
                <input
                  id="email"
                  type="email"
                  class="n cd ll"
                  placeholder="Enter your email address"
                  required=""
                  style="outline: none"
                />
              </div>
            </div>

            <div class="np ny se sm">
              <div class="cd uk">
                <label class="nc ll r_ ro si" for="message">Message</label>
                <textarea
                  id="message"
                  rows="4"
                  class="r cd ll"
                  placeholder="Write your message"
                  style="outline: none"
                ></textarea>
              </div>
            </div>
            <div class="np ny se sd">
              <div class="cd uk">
                <button class="a lr tn tf cd" style="outline: none">
                  Send
                </button>
              </div>
            </div>
          </form>
        </div>
        <div
          class="contact-info mt-48 w-96 md:w-full lg:col-span-2 lg:mt-0 lg:text-center lg:mx-auto"
        >
          <div class="contact-item border-b mb-6 pb-4">
            <p
              class="text-gray-500 font-medium flex items-center lg:justify-center"
            >
              <img
                src="assets/img/icons/icons8-phone-64.png"
                class="w-8 mr-4"
                alt=""
              />
              Phone:
            </p>
            <a class="font-semibold" href="tel:+91-5478645132">
              +91-5478645132
            </a>
          </div>

          <div class="contact-item border-b mb-6 pb-4">
            <p
              class="text-gray-500 font-medium flex items-center lg:justify-center"
            >
              <img
                src="assets/img/icons/icons8-email-64.png"
                class="w-8 mr-4"
                alt=""
              />
              Email:
            </p>
            <a
              class="font-semibold"
              href="mailto:bhaskar@waterandwastemanagement.org"
            >
              bhaskar@waterandwastemanagement.org
            </a>
          </div>

          <div class="contact-item border-b mb-6 pb-4">
            <p
              class="text-gray-500 font-medium flex items-center lg:justify-center"
            >
              <img
                src="assets/img/icons/icons8-address-64.png"
                class="w-8 mr-4"
                alt=""
              />
              Address:
            </p>
            <a class="font-semibold">
              Suite No 501, Plot No 283 & 284, Road No 6, Kakateeya Hills
              Madhapur, Hyderabad – 500081 | India
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
