<header class="fo cd cm du hb hz hk" [class.header-transparent]="transparent">
  <div class="max-w-7xl i_ uz pj">
    <div class="np nw nq rm dy">

      <a class="logo" routerLink="/">
        <img src="assets/img/wwm-owa.png" alt="logo">
      </a>
      <nav class=" df dv">
        <ul class="np rt n_ ny nw lg:hidden">
          <li class="relative">
            <a class="nav-link pb-8 cursor-pointer xl:text-sm px-4 lg:px-2 dropdown-btn">Tracks
            </a>
            <div class="dropdown absolute w-96 p-4 rounded shadow-xl top-8 left-0">
              <a [routerLink]="['track/', item?.url]"
                class="p-2 mb-2 font-medium flex items-center hover:bg-gray-900 hover:text-white rounded  transition-colors"
                *ngFor="let item of tracks?.map"> <img [src]="item?.img" class="w-8 mr-2" [alt]="item?.title">
                {{item?.title}}</a>

            </div>
          </li>
          <li>
            <a class="nav-link px-4 xl:px-2 xl:text-sm" routerLink="/speakers">Speakers</a>
          </li>

          <li>
            <a class="nav-link px-4 xl:px-2 xl:text-sm" routerLink="/sponsors">Sponsors</a>
          </li>

          <li>
            <a class="nav-link px-4 xl:px-2 xl:text-sm" routerLink="/committees">Committees</a>
          </li>
          <!-- <li>
              <a class="nav-link px-4 lg:px-2 xl:text-sm"
              routerLink="/events">Events</a>
            </li> -->
          <li>
            <a class="nav-link px-4 xl:px-2 xl:text-sm" routerLink="/sponsor-plans">Become a sponsor</a>
          </li>
          <li>
            <a class="nav-link px-4 xl:px-2 xl:text-sm" routerLink="/contact">Contact</a>
          </li>
        </ul>

      </nav>

      <div class="flex items-center">
        <ul class="rt n_ ny nw ml-4 lg:mr-4">
          <li>
            <a class="btn btn-dark py-3 lg:text-base sm:text-sm" [class.btn-gradient]="!hamBlack"
              routerLink="registration-india" *ngIf="location.country == 'IN'" target="_blank"><span>Register Now</span>
            </a>
            <a class="btn btn-dark py-3 lg:text-base sm:text-sm" [class.btn-gradient]="!hamBlack"
            routerLink="registration-usa" *ngIf="location.country == 'US'" target="_blank"><span>Register Now</span>
          </a>
          <a class="btn btn-dark py-3 lg:text-base sm:text-sm" [class.btn-gradient]="!hamBlack"
          disabled *ngIf="!location.country" target="_blank"><span>Register Now</span>
        </a>
          </li>
        </ul>

        <div class="country relative ml-8 lg:hidden">
          <button class="country-btn  flex items-center" (click)="toggleDropdown()">
            <img src="assets/img/icons/india.svg" class="w-8 mr-2" alt="IN" *ngIf="location.country == 'IN'" />
            <img src="assets/img/icons/usa.svg" class="w-8 mr-2" alt="US" *ngIf="location.country == 'US'" />
            <span class="country-text text-sm font-bold" [class.text-black]="transparent"
              [class.text-white]="!transparent">
              {{location.country}}
            </span>
          </button>
          <div class="country-dropdown w-28 absolute p-2 rounded shadow-xl">
            <button (click)="this.location.country = 'IN';toggleDropdown()"
              class="p-1 mb-2 font-medium flex w-full items-center hover:bg-gray-900 hover:text-white rounded  transition-colors">
              <img src="assets/img/icons/india.svg" class="w-4 mr-2" alt="IN"> IN</button>
            <button (click)="this.location.country = 'US'; toggleDropdown()"
              class="p-1 mb-2 font-medium flex w-full items-center hover:bg-gray-900 hover:text-white rounded  transition-colors">
              <img src="assets/img/icons/usa.svg" class="w-4 mr-2" alt="US"> US</button>
          </div>
        </div>

        <div class="np hidden lg:block">
          <button aria-controls="mobile-nav" (click)="toggleMenu()" class="l ham" [class.ham-black]="hamBlack"><span
              class="y">Menu</span> <svg class="ci rp fj lc" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <rect height="2" width="24" y="4"></rect>
              <rect height="2" width="24" y="11"></rect>
              <rect height="2" width="24" y="18"></rect>
            </svg></button>
          <nav class="fu fy rx a_ cv fp cd ua bg-white hy hz hk" id="mobile-nav" x-show="expanded">
            <ul class="uz ub">
              <li>
                <a class="np la lb ub font-medium text-black nav-link-mobile" routerLink="/">Home</a>
              </li>


              <!-- <li>
                  <a class="np la lb ub font-medium text-black nav-link-mobile"
                  routerLink="/track">Tracks</a>
                </li> -->
              <li>
                <a class="np la lb ub font-medium text-black nav-link-mobile" routerLink="/speakers">Speakers</a>
              </li>
              <li>
                <a class="np la lb ub font-medium text-black nav-link-mobile" routerLink="/sponsors">Sponsors</a>
              </li>
              <li>
                <a class="np la lb ub font-medium text-black nav-link-mobile" routerLink="/committees">Committees</a>
              </li>
              <!-- <li>
                  <a class="np la lb ub font-medium text-black nav-link-mobile"
                  routerLink="/events">Events</a>
                </li> -->
              <li>
                <a class="np la lb ub font-medium text-black nav-link-mobile" routerLink="/sponsor-plans">Sponsor
                  Plans</a>
              </li>

              <li class="ub iv nu na tk">
                <span class="np la lb ub font-medium text-black nav-link-mobile">Tracks</span>
                <ul class="pl-0">
                  <div class="grid grid-cols-2">
                    <li *ngFor="let item of tracks?.map" class="sm:col-span-2">
                      <a (click)="toggleMenu()"
                        class="r_ np ro la lb ub flex items-center hover:bg-gray-100 rounded px-4 transition-colors"
                        [routerLink]="['track/', item?.url]">
                        <img [src]="item?.img" class="w-6 mr-2" [alt]="item?.title">
                        {{item?.title}}</a>
                    </li>
                  </div>
                </ul>
              </li>
              <li>
                <a class="np la lb ub font-medium text-black nav-link-mobile" routerLink="/contact">Contact</a>
              </li>
            </ul>


            <div class="flex items-center toggle-wrapper">
              <h6
                class="text-sm toggle__text"
                id="toggleOffText"
                [class.active]="location.country == 'US'"
              >
                USA
              </h6>
              <div class="toggle">
                <label for="customToggle" class="toggle__label">
                  <input
                    type="checkbox"
                    class="toggle__input"
                    id="customToggle"
                    hidden
                    (change)="
                      toggleCountry()
                    "
                    [checked]="location.country == 'IN'"
                  />
                  <div class="toggle__group">
                    <span class="toggle__checked"></span>
                  </div>
                </label>
              </div>
              <h6 class="text-sm toggle__text" id="toggleOnText" [class.active]="location.country == 'IN'">
                INDIA
              </h6>
            </div>

          </nav>
        </div>
      </div>
    </div>
  </div>
</header>