#mobile-nav {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-0.8rem);
  @apply transition-all;

  &.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem);
  }
}

.ham {
  rect {
    fill: #fff;
  }

  &-black{
    rect{
      fill:#000;
    }
  }
  &.show {
    rect:nth-child(1) {
      transform: rotate(55deg);
    }
    rect:nth-child(2) {
      display: none;
    }
    rect:nth-child(3) {
      transform: rotate(-55deg);
    }
  }
}

.header{
  &-transparent {
    .nav-link {
      color: #000 !important;
    }
    .logo {
      img {
        filter: none !important;
      }
    }
  }
}

.dropdown{
  display: none;
  animation: fade_up 0.2s cubic-bezier(0.39, 0.575, 0.565, 1); 
  &-btn:hover{
      & + .dropdown{
        display: block;
      }
  }
}

.country-dropdown, .dropdown{
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  background-color: rgba(255, 255, 255, 0.94);
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .4),0 10px 15px -3px rgba(0, 0, 0, 0.04), 0 4px 6px -2px rgba(0, 0, 0, 0.02);
}
.dropdown{
  &:hover{
    display: block;
  }
}


header {

  &.fixed {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.88);
    
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.04),
      0 4px 6px -2px rgba(0, 0, 0, 0.02);

    .nav-link {
      @apply text-black;
    }

    .country-text{
      @apply text-black;
    }
    .ham{
      rect{
        fill: #000;
      }
     
  
    }

    .logo {
      img {
        filter: none;
      }
    }
  }

 
}

.nav-link {
  @apply font-medium;
  @apply text-white;
}

.logo {
  height: 2rem;

  @screen xl {
    height: 1.8rem;
  }

  @screen sm{
    height: 1.5rem;
  }

  img {
    max-height: 100%;
    width: auto;
    @apply transition-all;
    filter: brightness(0) invert(1);
  }
}

@keyframes fade_up{
  from{
      display: none;
      opacity: 0;
      transform: translateY(0.5rem);
  }
  to{
      display:block;
      opacity: 1;
      transform: translateY(0);
  }
}

.country-dropdown{
  @apply transition-all;
  top: 110%;
  right: 0;
  visibility: hidden;
  z-index: 2000;
  opacity: 0;
  transform: translateY(5%);

  &.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}


/*toggle button*/
.toggle {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
  &-wrapper{
    position: fixed;
    z-index: 1000;
    bottom: 0;
    padding: 0.5rem 0;
    left: 0%;
    z-index: 2500;
    background-color: #fff;
    width: 100%;
    justify-content: center;
    transform: translate(0%, -50%);

  }
  &__label {
    margin: 0 0.5rem;
    cursor: pointer;
  }

  &__text {
    font-weight: 800;
    opacity: 0.42;
   transition:all 300ms cubic-bezier(0.48, 0.01, 0.61, 0.99);
    transition-duration: 0.2s;
    &.active {
      opacity: 1;
    }
  }

  &__group {
    position: relative;
    width: 5rem;
    height: 3rem;
    @apply bg-blue-900;
    border-radius: 5rem;
    transition:all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
  }

  &__input:checked ~ &__group {
    @apply bg-green-700;
    background-size: contain;
    background-repeat: no-repeat;
    .toggle__checked {
      right: 0.5rem;
      background-image: url(/assets/img/icons/india.svg);
    }
  }

  &__checked {
    position: absolute;
    top: 50%;
    right: calc(100% - 2.5rem);
    content: "";
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 5rem;
    transform: translateY(-50%);
    background-image: url(/assets/img/icons/usa.svg);
    transition:all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);

    transition-duration: 0.4s;
  }
}
