.btn{
    @apply px-6;
    @apply py-2;
    @apply rounded;
    @apply bg-blue-600;
    @apply text-white;
    @apply font-semibold;
    @apply transition-all;
    @apply inline-block;
    @apply text-center;
    &-dark{
        @apply bg-gray-900;

        &:hover{
            @apply bg-black;
        }
}

&-gradient{
    background: linear-gradient(to right, $color-primary, $color-secondary);
    background-size: calc(100% + 50px) ;
    transition: 0.3s all;
    &:hover{
        background-position:100%;
    }
}
}
