.modal {
    backdrop-filter: blur(35px) ;
    -webkit-backdrop-filter: blur(35px) ;
    background: rgba(255, 255, 255, 0.6) ;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.4), 0 10px 15px -3px rgba(0, 0, 0, 0.04),
        0 4px 6px -2px rgba(0, 0, 0, 0.02) ;
    border-radius: 1rem ;
    max-width: 35rem;
    padding: 2rem 1rem;
    width: 95% ;
    @apply fixed;
    display: none;
    top: 50%;
    left: 50%;
    z-index: 3000;
    animation: fade_in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    transform: translate(-50%, -50%);

    &.show {
        display: block !important;
    }

    &-lg {
        max-width: 55rem;
    }
    

    &-content {
        padding: 2rem 1rem;
        max-height: 70vh;
        overflow-y: scroll;

          /* width */
    &::-webkit-scrollbar {
        width: 6px;
        border-radius: 1rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #ccc;
        border-radius: 1rem;
        overflow: hidden;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #222;
        border-radius: 1rem;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #000;
    }
    }
   
    &-close {
        @apply p-2;
        @apply absolute;
        top: 0.62rem;
        right: 1.2rem;
        @apply cursor-pointer;
        font-size: 1.2rem;
        font-weight: 700;
    }
    &-overlay {
        @apply fixed;
        @apply inset-0;
        @apply h-full;
        @apply w-full;
        @apply flex;
        background:linear-gradient(to bottom right, $color-primary, $color-secondary);
        opacity: 0.9;
        z-index: 2500;
        animation: fade_in 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
        display: none;
        &.show{
            display: block;
        }
    }
}

