<main class="rt">
  <section class="h- overflow-hidden">
    <img src="assets/img/landing-banner.png" class="w-full sm:hidden" alt="main banner" />
    <img src="assets/img/mobile-banner.png" class="w-full sm:block hidden" alt="main banner" />
  </section>

  <section class="section bg-gray-100 border-t border-b">
    <div class="container">
      <div class="max-w-6xl mx-auto">
        <h2 class="h2 text-black text-center mb-8">
          Why attend this conference
        </h2>
        <div class="count-section grid grid-cols-6 gap-8 lg:grid-cols-4 md:gap-4 sm:gap-2 md:grid-cols-3 sm:grid-cols-2">
          <div class="count">
            <div class="count-card">
              <div class="count-card-inner">
                <img src="assets/img/icons/mun.svg" alt="Municipal Officers" />
              </div>
            </div>
            <div class="count-content">
              <span class="text-3xl text-bold font-black tracking-tighter">
                200+
              </span>
              <p class="text-gray-700 font-medium">Municipal Commissioners</p>
            </div>
          </div>
          <div class="count">
            <div class="count-card">
              <div class="count-card-inner">
                <img
                  src="assets/img/icons/ins.svg"
                  alt="Industry Representatives"
                />
              </div>
            </div>
            <div class="count-content">
              <span class="text-3xl text-bold font-black tracking-tighter">
                1500+
              </span>
              <p class="text-gray-700 font-medium">Industry Representatives</p>
            </div>
          </div>
          <div class="count">
            <div class="count-card">
              <div class="count-card-inner">
                <img
                  src="assets/img/icons/student.svg"
                  alt="Consultants, Students"
                />
              </div>
            </div>
            <div class="count-content">
              <span class="text-3xl text-bold font-black tracking-tighter">
                500+
              </span>
              <p class="text-gray-700 font-medium">Consultants, Students</p>
            </div>
          </div>
          <div class="count">
            <div class="count-card">
              <div class="count-card-inner">
                <img src="assets/img/icons/exhibitor.svg" alt="Exhibitors" />
              </div>
            </div>
            <div class="count-content">
              <span class="text-3xl text-bold font-black tracking-tighter">
                300+
              </span>
              <p class="text-gray-700 font-medium">Exhibitors</p>
            </div>
          </div>
          <div class="count">
            <div class="count-card">
              <div class="count-card-inner">
                <img
                  src="assets/img/icons/foreign.svg"
                  alt="Foreign Delegates"
                />
              </div>
            </div>
            <div class="count-content">
              <span class="text-3xl text-bold font-black tracking-tighter">
                100+
              </span>
              <p class="text-gray-700 font-medium">Foreign Delegates</p>
            </div>
          </div>
          <div class="count">
            <div class="count-card">
              <div class="count-card-inner">
                <img
                  src="assets/img/icons/auth.svg"
                  alt="Regulating Authorities"
                />
              </div>
            </div>
            <div class="count-content">
              <span class="text-3xl text-bold font-black tracking-tighter">
                50+
              </span>
              <p class="text-gray-700 font-medium">Regulating Authorities</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
    <section class="section bg-gradient">
      <div class="container">
      <h2 class="h2 text-white mb-8 text-center">
        Tracks of the conference
      </h2>
      <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-4 gap-8 xl:grid-cols-4 lg:grid-cols-3 md:gap-4 sm:grid-cols-2">
          <div *ngFor="let item of tracks?.map">
            <a [routerLink]="['track/', item?.url]" class="flex" style="height: 100%;">
              <div class="track-card" >
                <img [src]="item?.img" [alt]="item?.title" />
                <p class="text-center font-bold tracking-tight mt-4">
                 {{item?.title}}
                </p>
              </div>
            </a>
          </div>
         
        </div>
      </div>
    </div>
    </section>
  
  <section class="section speakers border-t border-b bg-gray-100">
    <div class="container">
      <h2 class="h2 text-center mb-16">Keynote Speakers</h2>

      <div class="grid grid-cols-4 gap-6 xl:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
        <speaker
          (signalModal)="openSpeakerModal($event)"
          [speaker]="item"
          *ngFor="let item of speakers | slice: 0:4"
        ></speaker>
      </div>
      <div class="text-center mt-10">
        <a class="link-gradient" routerLink="/speakers">See all speakers</a>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="o_ i_ lt aw vd">
        <h2 class="h2 sm">
          Thank You for our sponsors for supporting our conference.
        </h2>
        <!-- <p class="rz la">
          Arcu cursus vitae congue mauris rhoncus viverra nibh cras pulvinar
          mattis blandit libero cursus mattis.
        </p> -->
      </div>
      <div class="grid items-center grid-cols-6 gap-x-12 gap-y-20 xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2">
        <a
        [href]="item?.link"
          class="sponsor"
          target="_blank"
          *ngFor="let item of sponsors"
          [title]="item?.link"
        >
          <img [defaultImage]="'assets/img/image.svg'" [lazyLoad]="item?.logo" [alt]="item?.link" />
        </a>
      </div>


      <div class="grid grid-cols-2 mt-16 max-w-xl mx-auto">
        <div class="text-center">
          <a class="link-gradient" routerLink="/sponsors">See all sponsors</a>
        </div>
       <div class="text-center">
        <a class="link-gradient" routerLink="/sponsor-plans">Become a sponsor</a>
       </div>
       
      </div>
    </div>
  </section>

  <section class="section bg-gray-900 about-section">
    <div class="container">
      <div class="grid gap-12 grid-cols-5 xl:grid-cols-4 md:gap-8 sm:gap-4">
        <div class="col-span-2 xl:col-span-2 md:col-span-4">
          <h3 class="h3 text-gradient mb-6 tracking-tighter">
            The WWM3 is being conducted as Virtual conference on Twin platforms
          </h3>

          <p class="font-light text-white">
            The Conference and Expo format is unique and will focus on water,
            wastewater, and solid waste issues facing both in the urban and
            rural areas. The two plat forms are dedicated to USA condition,
            India and Asian conditions. This will also create a forum to bring
            together people from administration, industry, commercial sector and
            academia to interact with experts and vendors in water and waste
            management. The conference provides an opportunity to explore
            cost-effective technical solutions for water and waste management
            problems facing the community and exchange knowledge and expertise.
          </p>
        </div>
        <div class="col-span-3 xl:col-span-2 md:col-span-4">
          <img
          [defaultImage]="'assets/img/transparent.png'" [lazyLoad]="'assets/img/abs-img-1.png'"
            class="max-w-xl mx-auto"
            alt="wwm 3 conferenece"
          />
        </div>
      </div>

      <div class="grid gap-12 grid-cols-5 xl:grid-cols-4 items-center md:mt-8">
        <div class="col-span-2 xl:col-span-2 md:col-span-4">
          <img
          [defaultImage]="'assets/img/transparent.png'" [lazyLoad]="'assets/img/abs-img-2.png'"
            class="w-full md:max-w-xl mx-auto"
            alt="wwm 3 conferenece"
          />
        </div>
        <div class="col-span-3 xl:col-span-2 md:col-span-4 md:order-first">
          <h3 class="h3 text-gradient mb-8 tracking-tighter">
            The eight tracks will have live sessions all the 3 days in each
            platform.
          </h3>
          <p class="font-light text-white">
            The expo stalls will be in 3D format and will create an experience
            of physical stalls. The Exhibitor will have exposure not only to USA
            and India visitors, but to other Countries like Canada, Australia,
            Europe, Singapore, Thailand etc
            <br />
            <br />
            With urbanization in the past century in World at a fast pace, the
            water and waste management issues multiplied throwing challenges to
            the municipal administration and public health. In the developing
            countries most of the municipal corporations did not have water and
            waste management facilities.
          </p>
        </div>
      </div>

      <div class="relative">
        <img class="img-abs img-abs-1" src="assets/img/shapes/circle-1.png" />
        <img class="img-abs img-abs-2" src="assets/img/shapes/circle-2.png" />

        <div class="mx-auto max-w-4xl">
          <h2 class="h2 text-center text-white mt-8 mb-12">
            Strengthening further based on our first and second successful WWM
            conferences
          </h2>
          <div class="grid grid-cols-2">
            <div class="md:col-span-2">
              <h3 class="h3 font-bold text-gradient mb-8">
                Lorem ipsum dolor sit amet, consectetur adipisicing.
              </h3>
              <p class="text-white font-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
                dolorem blanditiis excepturi impedit culpa voluptatibus cum aut
                perspiciatis, iste quisquam consectetur suscipit beatae
                nesciunt, non possimus magnam. Doloremque sunt dolorem neque
                vitae debitis alias quis nesciunt totam cum blanditiis odit unde
                iusto est nam fugit assumenda, fugiat cumque? Provident,
                nostrum!
              </p>
            </div>
            <img
            [defaultImage]="'assets/img/abs.png'" [lazyLoad]="'assets/img/abs-img-3.png'"
              class="w-full md:col-span-2 max-w-xl mx-auto"
              alt="wwm 3 conferenece"
            />
          </div>
          <!-- <div class="grid grid-cols-2 mt-10">
            <img
              src="assets/img/abs-img-4.png"
              class="w-full"
              alt="wwm 3 conferenece"
            />
            <div>
              <h3 class="h3 font-bold text-gradient mb-8">
                Lorem ipsum dolor sit amet, consectetur adipisicing.
              </h3>
              <p class="text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
                dolorem blanditiis excepturi impedit culpa voluptatibus cum aut
                perspiciatis, iste quisquam consectetur suscipit beatae
                nesciunt, non possimus magnam. Doloremque sunt dolorem neque
                vitae debitis alias quis nesciunt totam cum blanditiis odit unde
                iusto est nam fugit assumenda, fugiat cumque? Provident,
                nostrum!
              </p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>

  <section class="section msg-section">
    <div class="container">
      <h2 class="h2 text-center">Message from our Commissioner</h2>

      <div class="relative max-w-3xl mx-auto message-box border rounded-xl mt-20">
        <div
          class="lt ao an aq iy dx"
        >
          <div class="fu fl oh fg cz ha">
            <svg
              class="fu fl fc of op cu rm fj lg"
              viewBox="0 0 64 64"
              
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M37.89 58.338c-2.648-5.63-3.572-10.045-2.774-13.249.8-3.203 8.711-13.383 23.737-30.538l2.135.532c-6.552 10.033-10.532 17.87-11.939 23.515-.583 2.34.22 6.158 2.41 11.457l-13.57 8.283zm-26.963-6.56c-2.648-5.63-3.572-10.046-2.773-13.25.799-3.203 8.71-13.382 23.736-30.538l2.136.533c-6.552 10.032-10.532 17.87-11.94 23.515-.583 2.339.22 6.158 2.41 11.456l-13.57 8.283z"
              ></path>
            </svg>
            <img
              class="relative w-24 h-24 z-10 shadow-lg rounded-full object-cover"
              [defaultImage]="'assets/img/transparent.png'" [lazyLoad]="'assets/img/speakers/spyropoulos.jpg'"
              alt="Message from Commissioner"
            />
          </div>
          <blockquote class="rz ro sm">
            “ I love this product and would recommend it to anyone. Could be not
            easier to use, and our multiple websites are wonderful. We get nice
            comments all the time. “
          </blockquote>
          <cite class="nc ru rq l_ si">Mariyana T. Spyropoulos

           </cite>
          <div class="la">
            <span>Chairperson </span>
            <a
              class="ly lj"
              :href="item.link"
              x-text="item.team"
              href="#0"
              style="outline: none"
              >@Conference and Expo</a
            >
          </div>
        </div>

        <div class="text-center mt-0 mb-8">
          <button (click)="ui.openModal('#bigModal')" class="link-gradient text-sm">Read more</button>
        </div>

      </div>
    </div>
  </section>

  <section class="section cta-section">
    <div class="container">
      <div
        class="fa j nn ai ar vf va fk uu aos-init aos-animate"
        data-aos="zoom-y-out"
      >
        <div class="fu fc fh fs hidden mh" aria-hidden="true">
          <svg width="428" height="328" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <radialGradient
                cx="35.542%"
                cy="34.553%"
                fx="35.542%"
                fy="34.553%"
                r="96.031%"
                id="ni-a"
              >
                <stop stop-color="#DFDFDF" offset="0%"></stop>
                <stop stop-color="#4C4C4C" offset="44.317%"></stop>
                <stop stop-color="#333" offset="100%"></stop>
              </radialGradient>
            </defs>
            <g fill="none" fill-rule="evenodd">
              <g fill="#FFF">
                <ellipse
                  fill-opacity=".04"
                  cx="185"
                  cy="15.576"
                  rx="16"
                  ry="15.576"
                ></ellipse>
                <ellipse
                  fill-opacity=".24"
                  cx="100"
                  cy="68.402"
                  rx="24"
                  ry="23.364"
                ></ellipse>
                <ellipse
                  fill-opacity=".12"
                  cx="29"
                  cy="251.231"
                  rx="29"
                  ry="28.231"
                ></ellipse>
                <ellipse
                  fill-opacity=".64"
                  cx="29"
                  cy="251.231"
                  rx="8"
                  ry="7.788"
                ></ellipse>
                <ellipse
                  fill-opacity=".12"
                  cx="342"
                  cy="31.303"
                  rx="8"
                  ry="7.788"
                ></ellipse>
                <ellipse
                  fill-opacity=".48"
                  cx="62"
                  cy="126.811"
                  rx="2"
                  ry="1.947"
                ></ellipse>
                <ellipse
                  fill-opacity=".12"
                  cx="78"
                  cy="7.072"
                  rx="2"
                  ry="1.947"
                ></ellipse>
                <ellipse
                  fill-opacity=".64"
                  cx="185"
                  cy="15.576"
                  rx="6"
                  ry="5.841"
                ></ellipse>
              </g>
              <circle fill="url(#ni-a)" cx="276" cy="237" r="200"></circle>
            </g>
          </svg>
        </div>
        <div class="fa np ng md nq nw">
          <div class="lt gt mj">
            <h3 class="h3 lr sa">Register for the conference now!</h3>
            <p class="lo rq sw">
              Lorem ipsum dolor sit amet consectetur adipisicing elit nemo
              expedita voluptas culpa sapiente.
            </p>

            <a class="btn btn-gradient" target="_blank" *ngIf="location.country == 'IN'" routerLink="/registration-india">Register Now</a>
            <a class="btn btn-gradient" target="_blank" *ngIf="location.country == 'US'" routerLink="/registration-usa">Register Now</a>
            <a class="btn btn-gradient" disabled *ngIf="!location.country" routerLink="/registration-india">Register Now</a>

          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<div class="modal modal-lg" id="bigModal">
  <div class="modal-content">
    <div class="modal-close" (click)="ui.closeModal('#bigModal')">
      <i class="material-icons">cancel</i>
    </div>
    <div class="text-center">
      <img class="mx-auto w-32 h-32 bg-white rounded-full p-2 shadow-lg mb-4 object-cover" src="assets/img/speakers/spyropoulos.jpg" />
    </div>
  
    <h3 class="h3 text-center mb-4">
      Mariyana T. Spyropoulos
    </h3>
  
    <p class="text-center pb-4 border-b text-sm">
      MWRDGC, Chairperson of the Conference and Expo
    </p>
  
  
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro vitae distinctio blanditiis obcaecati suscipit, exercitationem quam eum corporis magni nobis officiis praesentium enim repudiandae eligendi vel quod cumque illo dolores qui numquam debitis laboriosam non! Est non dolorem dolores sed beatae iusto! Sit magni libero atque aspernatur fugiat corrupti. Laudantium voluptatem quaerat ipsa ad quia!
      </p>
  
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro vitae distinctio blanditiis obcaecati suscipit, exercitationem quam eum corporis magni nobis officiis praesentium enim repudiandae eligendi vel quod cumque illo dolores qui numquam debitis laboriosam non! Est non dolorem dolores sed beatae iusto! Sit magni libero atque aspernatur fugiat corrupti. Laudantium voluptatem quaerat ipsa ad quia!
      </p>
  
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro vitae distinctio blanditiis obcaecati suscipit, exercitationem quam eum corporis magni nobis officiis praesentium enim repudiandae eligendi vel quod cumque illo dolores qui numquam debitis laboriosam non! Est non dolorem dolores sed beatae iusto! Sit magni libero atque aspernatur fugiat corrupti. Laudantium voluptatem quaerat ipsa ad quia!
      </p>
    </div>
  </div>


</div>

<speaker-modal [speaker]="currentSpeaker"></speaker-modal>