<section class="section page-header page-header-big">
    <div class="container">
      <div class="lg:text-center">
        <p class="font-bold tracking-tighter text-xl lg:mx-auto text-gradient inline-block">
          TRACK #{{trackIndex + 1}}
        </p>
      </div>
    
      <h1 class="h1 lg:text-center text-white lg:mx-auto max-w-2xl mb-8"> {{trackTitle}} </h1>
     
    </div>
  
    <img src="assets/img/sponsors-img.png" class="header-img header-img-big" alt="" />


    <img src="assets/img/wave.svg" alt="wave" class="wave">
  </section>
  
  <section class="pb-16 -mt-4 bg-circle">
    <div class="container">
      <div class="grid grid-cols-6 gap-8">
        <div class="col-span-4 lg:col-span-6">
          <h2 class="h2 text-gradient pb-4 borber-b mb-8">
            About the track
          </h2>
          <div class="track-content" [innerHtml]="trackContent?.content">

          </div>
        </div>
      <!-- <div class="col-span-2 lg:col-span-6">
        <h3 class="h3 tracking-tighter pb-4 borber-b mb-8">
          Themes for the track
        </h3>

        <div class="theme-item flex mb-4 ">
          <img src="assets/img/bullet.png" alt="" class="bullet">
          <p>
            Drinking water in Rural and Urban India – challenges and solutions
          </p>
        </div>
        <div class="theme-item flex mb-4 ">
          <img src="assets/img/bullet.png" alt="" class="bullet">
          <p>
            Drinking water in Rural and Urban India – challenges and solutions
          </p>
        </div>
        <div class="theme-item flex mb-4 ">
          <img src="assets/img/bullet.png" alt="" class="bullet">
          <p>
            Drinking water in Rural and Urban India – challenges and solutions
          </p>
        </div>
        <div class="theme-item flex mb-4 ">
          <img src="assets/img/bullet.png" alt="" class="bullet">
          <p>
            Drinking water in Rural and Urban India – challenges and solutions
          </p>
        </div>
      </div> -->
      </div>
     
     
    </div>
  </section>

  <section class="section speakers border-t border-b bg-gray-100">
    <div class="container">
      <h2 class="h2 text-center mb-16">Speakers for the track</h2>

      <div class="grid grid-cols-4 gap-6 xl:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
        <speaker
          [speaker]="item"
          *ngFor="let item of speakers"
        ></speaker>
      </div>
      <div class="text-center mt-10">
        <button class="link-gradient" routerLink="/speakers">See all speakers</button>
      </div>
    </div>
  </section>


  