<footer class="bg-gray-900">
    <div class="max-w-7xl i_ uj pj">
      <div class="pt-16 grid grid-cols-9 gap-16 sm:gap-4">
        <div class="col-span-2 xl:col-span-9 mb-8">
         <a href="onewateracademy.org" target="_blank" class="logo text-center ">
           <img src="assets/img/wwm-owa-ver.png" class="w-40 mx-auto" alt="logo">
         </a>
        </div>
        <div class="col-span-3 xl:col-span-4 lg:col-span-9">
          <h6 class="ll ro sa footer-heading text-gradient sm:text-center md:mx-auto md:w-full">Conference Tracks</h6>


            <ul class="r_ grid grid-cols-2 sm:grid-cols-1 gap-2 sm:text-center">
              <li class="sa" *ngFor="let item of tracks.map">
                <a class="footer-link sm:mx-auto sm:text-base"
                [routerLink]="['track/', item?.url]">{{item.title}}</a>
              </li>
             
            </ul>

        
        </div>
        <div class="col-spa-2 xl:col-span-2 lg:col-span-4  sm:col-span-9">
          <h6 class="ll ro sa footer-heading text-gradient sm:text-center md:mx-auto md:w-full">Visit</h6>
          <ul class="r_ sm:text-center">
            <li class="sa">
              <a class="footer-link sm:mx-auto sm:text-base"
                  href="#0">Home</a>
            </li>
            <li class="sa">
              <a class="footer-link sm:mx-auto sm:text-base"
                  href="#0">Speakers</a>
            </li>
            <li class="sa">
              <a class="footer-link sm:mx-auto sm:text-base"
                  href="#0">Become Sponsor</a>
            </li>
            <li class="sa">
              <a class="footer-link sm:mx-auto sm:text-base"
                  href="#0">Partners</a>
            </li>
            <li class="sa">
              <a class="footer-link sm:mx-auto sm:text-base"
                  href="#0">Committees</a>
            </li>
            <li class="sa">
              <a class="footer-link sm:mx-auto sm:text-base"
                  href="#0">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-span-3 xl:col-span-3 lg:col-span-5  sm:col-span-9">
          <h6 class="ll ro sa footer-heading text-gradient sm:text-center md:mx-auto md:w-full">Contact</h6>
          
          <ul class="r_ sm:text-center">
            <li class="sa mb-6">
              <a class="footer-link sm:mx-auto sm:text-base" href="tel:+91-5455464782">
                <i class="material-icons mr-1">
                  call
                </i>
                Phone: <span class="text-white ml-2">
                  +91-5467264532
                </span>
              </a>
            </li>
            <li class="sa mb-6">
              <a class="footer-link sm:mx-auto sm:text-base" href="mailto:bhaskar@waterandwastemanagement.org">
                <i class="material-icons mr-1">
                  mail
                </i>
                Email: <span class="text-white ml-2 break-all">
                  bhaskar@waterandwastemanagement.org
                </span>
              </a>
            </li>
            <li class="sa">
              <a class="footer-link sm:mx-auto sm:text-base">
                <i class="material-icons mr-1">
                  home
                </i>
                Address: <span class="text-white ml-2 ">
                  Suite No 501, Plot No 283 & 284,
                  Road No 6, Kakateeya Hills
                  Madhapur, Hyderabad – 500081 | India
                </span>
              </a>
            </li>
            </ul>
        </div>
      </div>
      <div class="df dh dd u_ vo copyright">
        <ul class="np sm dg dj d_ md:flex md:justify-center">
          <li>
            <a aria-label="Twitter"
                class="np nj nw la lb nr shadow hb hj hk"
                href="#0"><img src="assets/img/icons/facebook.svg" class="w-6 social-icon" alt="facebook page"></a>
          </li>
          <li class="sg">
            <a aria-label="Github"
                class="np nj nw la lb nr shadow hb hj hk"
                href="#0"><img src="assets/img/icons/linkedin.svg" class="w-6 social-icon"  alt="linkedin page"></a>
          </li>
          <li class="sg">
            <a aria-label="Facebook"
                class="np nj nw la lb nr shadow hb hj hk"
                href="#0">
                <img src="assets/img/icons/twitter.svg" class="w-6 social-icon" alt="twitter page"></a>
          </li>
        </ul>
        <div class="r_ la sv text-gradient font-semibold md:text-center md:mt-4">
          © 2021 WWA-OWA 3rd Conference & Expo. All rights reserved.
        </div>
      </div>
    </div>
  </footer>
