.text{
    &-gradient{
        background: linear-gradient(to right,$color-primary, $color-secondary) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    }

}

p{
    @apply text-gray-900;
    font-size: 1.05rem;
    line-height: 1.8;
    margin-bottom: 1rem !important;
}

h1,h2,h3,h4,h5,h6{
   @apply font-bold;
   @apply tracking-tight;
}
h1{
   @apply text-4xl;
   margin-bottom: 2rem;
}

h2{
    @apply text-3xl;
    margin-bottom: 1.5rem;
}
h3{
    @apply text-2xl;
    margin-bottom: 1rem;
}
h4{
    @apply text-xl;
    margin-bottom: 0.5rem;
}
.track-content{
    ul{
        @apply pl-4;
        li{
            margin-bottom: 1rem;
            @apply font-medium;
    
        }
    }
}


.link-gradient{
    @apply font-bold;
    @apply relative;
    @apply z-10;
    @apply px-4;
    @apply py-2;
    @apply text-xl;
    @apply transition-all; @apply duration-100; @apply ease-in-out;
    &:after{
        position: absolute;
        content: "";
        height: 0.2rem;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.5rem;
        @apply transition-all; @apply duration-100; @apply ease-in-out;
        background-image:linear-gradient(to right, $color-primary, $color-secondary);
    }

    &:hover{
        @apply text-white;
        
        &:after{
            height: 100%;
        }
    }
}

.link-small{
    @apply text-sm;
    @apply font-medium;
    &:after{
        height: 0.1rem;

    }
}

.validation{
    p{
        @apply text-red-600;
        @apply mt-4;
        @apply text-sm;
        @apply py-1;
    }
}