
@import './abstracts/variables.scss';
@import './base/typography.scss';
@import './base/base.scss';
@import './base/utils.scss';

@import './components/buttons.scss';
@import './components/track-card.scss';
@import './components/count-card.scss';
@import './components/icons.scss';
@import './components/glass-card.scss';
@import './components/page-header.scss';

.sponsor{
    img{
        max-height: 6rem;
        width: auto;
        max-width: 100%;
    }
}